body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 25px;
}

header {
    background: linear-gradient(to right, #585f63, #1c1619);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: 2rem auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #fff;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.8rem;
    text-align: left;
}

th {
    background-color: #000;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    background: linear-gradient(to right, #585f63, #1c1619);
    color: white;
    text-align: center;
    padding: 1rem 0;
    
    width: 100%;
    bottom: 0;
}